<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nghia.maplocation">

    <!-- <uses-permission android:name="android.permission.INTERNET"/> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- <uses-permission android:name="android.SS_COARSE_LOCATION" /> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_api_key" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FriendActivity"></activity>
        <activity android:name=".RequestFriendActivity"></activity>
        <activity android:name=".SearchActivity"></activity>
        <activity android:name=".MessengerActivity"></activity>
        <activity android:name=".GroupActivity"></activity>
        <activity android:name=".GroupPeopleActivity" />
        <activity android:name=".ChatGroupActivity" />
        <activity android:name=".FriendAddGroupActivity"></activity>
        <activity android:name=".DatingActivity" />
        <activity android:name=".MemberDatingActivity"></activity>
    </application>

</manifest>